body {
  background-color: #faf9f4;
}
.h-line-right {
  position: absolute;
  width: 7.25rem;
  height: 0px;
  left: 16px;
  top: 200px;
  border: 1px solid #b7b7b7;
}
.h-line-left {
  position: absolute;
  width: 7.25rem;
  height: 0px;
  left: 243px;
  top: 200px;
  border: 1px solid #b7b7b7;
}

.date {
  position: absolute;
  width: 87px;
  height: 18px;
  left: 144px;
  top: 192px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #b7b7b7;
}

.container {
  position: fixed;
  bottom: 0;

  width: 100%;

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 12px;
  gap: 16px;
  margin-left: 1rem;
  width: 90%;
  height: 42px;
  background: #ffffff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
}
.input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 247px;
  height: 18px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.border-style {
  border-radius: 0px 12px 12px 12px;
}
