body {
  background-color: #faf9f4;
}

.header-font {
  width: 215px;
  height: 46px;

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #606060;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
